/out_backbone
/out
/out_mesh
/out_fusion
/data
build
.vscode
.pytest_cache
.cache
/.idea
*.pyc
*.pyd
*.so
*.o
*.prof
*.swp
*.lib
*.obj
*.exp
.nfs*
*.jpg
*.ply
*.off
*.npz
*.asc
*.csv
/src/utils/libmcubes/mcubes.cpp
/src/utils/libsimplify/simplify_mesh.cpp
/src/utils/libsimplify/build
/src/utils/libmesh/triangle_hash.cpp
/src/utils/libmise/mise.cpp
/src/utils/libvoxelize/voxelize.c

